//variables scss

$background-color: #2d85a4;
$text-color: #ffffff;
$accent-text-color: #8cd3f3;
$alt-text-color: #1a3643;
$hex-border-color: #024258;
$hex-fill-color:#d9f0f1;

//hex
$hex_height_lg: 220px;
$hex_height_med: 126px;
